<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :route_id %><br>
    <%= f.select :route_id, Route.all.collect {|r| ["#{r.city_o.name}-#{r.city_d.name}", r.id]}%>
  </div>
  <div class="field">
    <%= f.label :airplane_id %><br>
    <%= f.select :airplane_id, Avione.all.collect {|a| [a.reference, a.id]} %>
  </div>
  <div class="field">
    <%= f.label :pilot_id %><br>
    <%= f.select :pilot_id, Pilots.all.collect {|p| ["#{p.name}- #{p.lastname} - #{p.identificacion}", p.id]}%>
  </div>
  <div class="field">
    <%= f.label :date, "Fecha" %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
