<%= form_for(@avione) do |f| %>
  <% if @avione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@avione.errors.count, "error") %> prohibited this avione from being saved:</h2>

      <ul>
      <% @avione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :marca %><br>
    <%= f.text_field :marca %>
  </div>
  <div class="field">
    <%= f.label :estadoavion %><br>
    <%= f.text_field :estadoavion %>
  </div>
  <div class="field">
    <%= f.label :totalpasajeros %><br>
    <%= f.number_field :totalpasajeros %>
  </div>
  <div class="field">
    <%= f.label :ruta_asignada %><br>
    <%= f.text_field :ruta_asignada %>
  </div>
  <div class="field">
    <%= f.label :identificacion_piloto %><br>
    <%= f.number_field :identificacion_piloto %>
  </div>
  <div class="field">
    <%= f.label :nombre_piloto %><br>
    <%= f.text_field :nombre_piloto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
