<p id="notice"><%= notice %></p>

<h1>Listing Aviones</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Marca</th>
      <th>Estadoavion</th>
      <th>Totalpasajeros</th>
      <th>Ruta asignada</th>
      <th>Identificacion piloto</th>
      <th>Nombre piloto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aviones.each do |avione| %>
      <tr>
        <td><%= avione.codigo %></td>
        <td><%= avione.marca %></td>
        <td><%= avione.estadoavion %></td>
        <td><%= avione.totalpasajeros %></td>
        <td><%= avione.ruta_asignada %></td>
        <td><%= avione.identificacion_piloto %></td>
        <td><%= avione.nombre_piloto %></td>
        <td><%= link_to 'Show', avione %></td>
        <td><%= link_to 'Edit', edit_avione_path(avione) %></td>
        <td><%= link_to 'Destroy', avione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Avione', new_avione_path %>
