<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @avione.codigo %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @avione.marca %>
</p>

<p>
  <strong>Estadoavion:</strong>
  <%= @avione.estadoavion %>
</p>

<p>
  <strong>Totalpasajeros:</strong>
  <%= @avione.totalpasajeros %>
</p>

<p>
  <strong>Ruta asignada:</strong>
  <%= @avione.ruta_asignada %>
</p>

<p>
  <strong>Identificacion piloto:</strong>
  <%= @avione.identificacion_piloto %>
</p>

<p>
  <strong>Nombre piloto:</strong>
  <%= @avione.nombre_piloto %>
</p>

<%= link_to 'Edit', edit_avione_path(@avione) %> |
<%= link_to 'Back', aviones_path %>
