<p id="notice"><%= notice %></p>

<p>
  <h2>Ciudad origen:</h2>
  <span><%= @route.city_o.name_city %></span>
<span><%= @route.city_o.country %></span>
</p>

<p>
  <h2>Ciudad destino:</h2>
  <span><%= @route.city_y.name_city %></span>
 <span><%= @route.city_y.country %></span> 
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
